In [5]:
import pandas as pd
import numpy as np

## Pandas Series

In [6]:
array1 = np.array([1,2,3,4,5,6])
array1

array([1, 2, 3, 4, 5, 6])

In [9]:
array2_series = pd.Series(array1)
array2_series

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int32

In [10]:
type(array2_series)

pandas.core.series.Series

In [14]:
series1 = pd.Series(array1, index = ["a","b","c","d","e",1])
series1

a    1
b    2
c    3
d    4
e    5
1    6
dtype: int32

In [16]:
# Change Data type
series2 = pd.Series(array1, index = ["x","y","c","d","e",1], dtype = float)
series2

x    1.0
y    2.0
c    3.0
d    4.0
e    5.0
1    6.0
dtype: float64

In [17]:
max(series2)

6.0

In [18]:
min(series1)

1

In [21]:
ss = series1 + series2
ss

1    12.0
a     NaN
b     NaN
c     6.0
d     8.0
e    10.0
x     NaN
y     NaN
dtype: float64

In [27]:
nun_1 = ss[~np.isnan(ss)]
nun_1

1    12.0
c     6.0
d     8.0
e    10.0
dtype: float64

In [31]:
nun = ss[np.isnan(ss)]
nun

a   NaN
b   NaN
x   NaN
y   NaN
dtype: float64

# What is Pandas Data Frame
Pandas DataFrame is two-dimentional, size-mutable, potentially heterogeous tabular data structure with labeled axis(rows and column)

In [34]:
emt_df = pd.DataFrame()
print(emt_df)

Empty DataFrame
Columns: []
Index: []

In [37]:
aa = np.array([])
print(aa)

[]

In [40]:
data_1 = pd.DataFrame([[1,2,3,4,5,6],[1,2,3,4,5,8],[2,5,8,7,4,1]])
data_1

   0  1  2  3  4  5
0  1  2  3  4  5  6
1  1  2  3  4  5  8
2  2  5  8  7  4  1

In [42]:
# create Pansas Data Frame by using list of Dictionaries
data_2  = pd.DataFrame({"Column1":[1,2,3,4], "Special Column":[8,5,2,4]})
data_2

   Column1  Special Column
0        1               8
1        2               5
2        3               2
3        4               4

In [46]:
data_3 = {"ID":pd.Series([11,22,33,44,55]), "SN":pd.Series([2,5,4,6,66,88])}
data_4 = pd.DataFrame(data_3)
data_4

     ID  SN
0  11.0   2
1  22.0   5
2  33.0   4
3  44.0   6
4  55.0  66
5   NaN  88

# Read CSV_files

In [47]:
amin = pd.read_csv("C:\\Users\\ameen\Music\\organizations-100\\organizations-100.csv")
amin

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952
2,3,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971,Public Safety,5287
3,4,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921
4,5,9eE8A6a4Eb96C24,Mayer Group,http://www.brewer.com/,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870
...,...,...,...,...,...,...,...,...,...
95,96,0a0bfFbBbB8eC7c,Holmes Group,https://mcdowell.org/,Ethiopia,Right-sized zero tolerance focus group,1975,Photography,2988
96,97,BA6Cd9Dae2Efd62,Good Ltd,http://duffy.com/,Anguilla,Reverse-engineered composite moratorium,1971,Consumer Services,4292
97,98,E7df80C60Abd7f9,Clements-Espinoza,http://www.flowers.net/,Falkland Islands (Malvinas),Progressive modular hub,1991,Broadcast Media,236
98,99,AFc285dbE2fEd24,Mendez Inc,https://www.burke.net/,Kyrgyz Republic,User-friendly exuding migration,1993,Education Management,339
99,100,e9eB5A60Cef8354,Watkins-Kaiser,http://www.herring.com/,Togo,Synergistic background access,2009,Financial Services,2785